<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id="currencyService" class="services.currency.CurrencyServiceImpl" />
	
	<bean id="stockService" class="services.stock.StockServiceImpl" />
	
	<bean id="userService" class="services.user.UserServiceImpl" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.sqlite.JDBC"></property>
		<property name="url" value="${connectionstring}"></property>
	</bean>

	<bean id="currencyDAO" class="dao.currency.CurrencyDaoImpl" />
	
	<bean id="stockDao" class="dao.stock.StockDaoImpl" />
	
	<bean id="userDao" class="dao.user.UserDaoImpl" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

		<property name="location">
			<value>classpath:database.properties</value>
		</property>
	</bean>

</beans>